/* body {
    background: linear-gradient(to right, rgb(255, 0, 191), rgb(25, 0, 53));
} */

h1{
    color: black;

}
h3{
    color: black;
    text-decoration: none;

}

.backgroundpic {
    position: relative;
    display: inline-block;
  }
  
  .backgroundpic img {
    /* margin-left: 2%; */
    display: block;
    width: 100%;
    height: 97vh;
    margin-left:45%;
  }
  .modal {
    position: absolute;
    margin-top: -60%;
    left: 3%;
    /* transform: translate(-50%, -50%); */
    width: 20%;
    height:44%;
  
    background-color: rgb(236, 236, 236,0.3);
    padding: 8rem;
    border-radius: 75px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.9);
    z-index: 10;
  
  }
  .overlaytext {
    position: absolute;
    top: 18%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    /* background-color: #000000;  */
    color: black; 
    /* padding: 10px 20px;  */
    /* font-size: 16px;  */
    text-align: center;
    z-index: 2;
  }
  .bodytext {
    position: absolute;
    top: 58%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    /* background-color: #000000;  */
    color: black; 
    /* padding: 10px 20px;  */
    /* font-size: 20px;  */
    text-align: center;
    z-index: 2;

  }

  .goback{
    position: absolute;
    top: 5%; 
    left: 10%; 
    transform: translate(-50%, -50%); 
    /* background-color: #000000;  */
    color: black; 
    padding: 10px 20px; 
    font-size: 16px; 
    text-align: center;
    text-decoration: none;


  }
  @media screen and (max-width: 700px) {
    .backgroundpic img {
        /* margin-left: 2%; */
        display: block;
        /* width: 70vh; */
        height: 80vh;
        margin-left: 0%;
      }
    
    .modal {
        position: absolute;
        margin-top: -145%;
        /* left: -2%; */
        /* transform: translate(-50%, -50%); */
        /* width: 170%; */
        height:40%;
      
        background-color: rgb(236, 236, 236,0.3);
        padding: 8rem;
        border-radius: 75px;
        box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
        z-index: 10;
      
      }
    .overlaytext {
        position: absolute;
        top: 12%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        /* background-color: #000000;  */
        color: #000000; 
        padding: 10px 20px; 
        /* font-size: 20px;  */
        text-align: center;
        z-index: 2;
      }
    .bodytext {
        position: absolute;
        /* top: 38%;  */
        left: 50%; 
        transform: translate(-50%, -50%); 
        width:80%;
        color: black; 
        /* padding: 10px 20px;  */
        /* font-size: 20px;  */
        text-align: center;
        z-index: 2;
    
      }
      .goback{
        left:10%;
      }
  }    